hr{
  background-color: #ffe4e1;
  border-style: dotted none none;
  border-color: black;
  border-width: 12px;
  width: 70%;
  }
h1{
     color: Black;


  }
h3{
       color: Black;


    }
body{
     background-color:#ffe4e1;


}
